# Logs
ui/logs
ui/*.log
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*
ui/pnpm-debug.log*
ui/lerna-debug.log*
# Node and build folders/files
ui/node_modules
ui/dist
ui/dist-ssr
ui/tsconfig.app.tsbuildinfo
ui/tsconfig.node.tsbuildinfo
# .local files
ui/*.local
# Editor directories and files
ui/.vscode/*
ui/!.vscode/extensions.json
ui/.idea
ui/.DS_Store
ui/*.suo
ui/*.ntvs*
ui/*.njsproj
ui/*.sln
ui/*.sw?
# Built server executable
server/server
# Go workspace file
go.work
# Server log files
server/logs
