@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
	font-family: "Young Serif";
	src: url("/assets/YoungSerif.ttf");
};
@font-face{
	font-family: "Inter Variable Text";
	src: url("/assets/InterVariable.ttf");
};
